.eh {
  color: aliceblue;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* toda la altura de la pantalla */
}

.MainContent {
  flex: 1; /* esto hace que el contenido crezca y empuje el footer hacia abajo */
  overflow: auto;
}